h1,
h2 {
    font: inherit;
    font-size: 100%;
}

ul {
    list-style: none;
}

a:link,
a:visited,
a:hover,
a:active {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

img {
    vertical-align: top;
    border: none;
}

button {
    border: none;
    background: none;
    cursor: pointer;
}

#wrap,
header,
nav,
section,
footer {
    display: block;
}

body,
#wrap {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

#header {
    position: relative;
    background: url("../images/dario-mazzone-presentazione-det-01.jpg")no-repeat center;
    background-size: cover;
    width: 100%;
    height: 100vh;
}

#header h1 {
    position: absolute;
    top: 2vw;
    left: 5vw;
    color: #fcf1e7;
    font-size: 6vw;
    transform: translate(-52.0833vw, 0);
    opacity: 0;
    transition: all 1.2s;
}

#header h1 strong {
    font-size: 10vw;
}

#nav {
    position: fixed;
    top: -34.7222vw;
    right: 10vw;
    width: 17.3611vw;
    height: 41.6667vw;
    background: rgb(94, 72, 40);
    color: #fcf1e7;
    font-size: 2vw;
    z-index: 99;
    transition: all 0.8s;
    overflow: hidden;
}

#nav ul {
    display: flex;
    flex-direction: column;
    text-align: left;
}

#nav ul li {
    margin-top: 2vw;
}

#container,
#paperBagHead,
#paperBagBody,
.stikerMemo,
.photoFrame {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#container {
    background-image: url("../images/backgroundWoodPattern.jpg");
    background-attachment: fixed;
}

#introduce {
    position: relative;
    height: 200vh;
}

.intro_wrap {
    position: absolute;
    width: 32.9167vw;
    height: 59.0278vw;
    top: 30vh;
    left: 50vw;
    margin-left: -10%;
}

.intro_wrap>div {
    position: absolute;
}

.front img{
    width: 32.7778vw;
    height: 40.4583vw;
}

.back img{
    width: 32.7778vw;
    height: 40.4583vw;
}

.back {
    top: 10.5vw;
    left: 0;
}

.paper {
    top: 6.9444vw;
    left: 1.1806vw;
    width: 27.7778vw;
    height: 45.8333vw;
    padding: 1.3889vw;
    background: #eeeeee;
}

.paper img {
    width: 10.4167vw;
    height: 10.4167vw;
}

.paper.updown {
    animation: updown 1s ease-in infinite alternate;
}

.front {
    bottom: 0;
    left: 0;
}

@keyframes updown {
    0% {
        transform: translateY(0.6944vw);
    }

    50% {
        transform: translateY(0.0000vw);
    }

    100% {
        transform: translateY(-0.6944vw);
    }
}

#introWrapAfter {
    display: none;
    transform: rotate(33deg) translate(-24.4792vw, 10.4167vw);
}

#introWrapAfter .paper {
    left: 26.0417vw;
    top: -13.5417vw;
    transform: rotate(-26deg);
    z-index: 50;
}

#myProject {
    width: 100%;
    position: relative;
}

#myPWrap {
    width: 80%;
    height: 500vh;
    margin: 0 auto;
    padding: 20vh 0;
    background: url("../images/pin-board.jpg") repeat center;
    box-sizing: border-box;
    border: 1.0417vw solid transparent;
    border-image: url("../images/wood-2045379_1280.jpg") 30;
}

#purblising,
#design {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.stikerMemo {
    position: relative;
    background-image: url("../images/note-147951_640.png");
    background-size: cover;
    width: 18.2292vw;
    height: 18.2292vw;
    text-align: center;
}

.stikerMemo h4 {
    font-size: 2.6042vw;
    line-height: 9.1146vw;
}

.photoFrame {
    position: relative;
    background-image: url("../images/photoFrame01.png");
    background-size: cover;
    width: 18.2292vw;
    height: 20.8333vw;
    text-align: center;
    transition: all 0.8s;
}

.photoFrame a {
    position: absolute;
    display: block;
    top: 1.6667vw;
    left: 2.0833vw;
    width: 14.3229vw;
    height: 14.5833vw;
    background-color: lavender;
    cursor: pointer;
    overflow: hidden;
}

.photoFrame a img {
    width: 30vw;
    background-color: #fef3e9;
}

.photoFrame h4 {
    position: absolute;
    bottom: 1.0417vw;
    left: 50%;
    transform: translateX(-50%);
}

.photoFrame:nth-child(odd) {
    background-image: url("../images/photoFrame02.png");
    right: 20vw;
    transform: translateX(-100vw);
}

.photoFrame:nth-child(even) {
    background-image: url("../images/photoFrame03.png");
    left: 20vw;
    transform: translateX(100vw);
}

.photoFrame:nth-child(odd).fade {
    transform: translateX(0);
}

.photoFrame:nth-child(even).fade {
    transform: translateX(0);
}

#footer {
    width: 100%;
    height: 100vh;
}

#email {
    width: 41.6667vw;
    height: 20.8333vw;
    background: #f7e4dd;
    margin: 50vh auto;
    text-align: center;
    line-height: 20.8333vw;
    font-size: 4.1667vw;
}

#header h1.fade {
    transform: translate(0, 0);
    opacity: 1;
}

#nav.down {
    top: 0;
}

.strokeBox {
    position: absolute;
    width: 0.8854vw;
    height: 0.2604vw;
    top: -200vh;
    left: 0;
}

.stroke {
    fill: none;
    stroke: #d64141;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 0.2083vw;
}

#dim,
.md_cnt {
    position: fixed;
    z-index: 1000;
    overflow: hidden;
}

#dim {
    display: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .5);
}

.md_cnt {
    visibility: hidden;
    background: rgb(224, 224, 224);
    padding: 2.6042vw;
}

.md_cnt img {
    width: 80%;
    box-sizing: border-box;
}

#modal {
    width: 33.8542vw;
    height: 750px;
}

.md_cnt .mdclose_btn {
    position: absolute;
    right: 0.5208vw;
    top: 0.5208vw;
    width: 2.6042vw;
    height: 2.6042vw;
    background: rgb(170, 170, 170);
}